@model Cctic.Module.News.ViewModels.NewsVm
@{
    ViewData["Title"] = "Notícias";
}
<section class="page-header">
    <div class="container">



        <h1>@ViewData["Title"]</h1>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
            <li><a href="~/">Home</a></li>
            <li><span class="active">@ViewData["Title"]</span></li>
        </ol><!-- /breadcrumbs -->

    </div>
</section>
<!-- /PAGE HEADER -->
<!-- -->

<div class="container">
    <section class="mt-40">

        <div class="news row">
            <div class="categories row">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    @foreach (var item in Model.NewsCategory)
            {
                        <div class="btn-group" role="group">
                            <a type="button" class="btn btn-default" href="~/@item.SeoTitle"> @item.Name</a>
                        </div>
                    }
                </div>
            </div>
            @if (Model.NewsItem.Any())
            {
                <div class="news-category-detail row">
                    @foreach (var item in Model.NewsItem)
                    {
                        @await Html.PartialAsync("_NewsThumbnail", item)
                    }
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <cs-pager cs-paging-pagesize="@Model.PageSize"
                          cs-paging-pagenumber="@Model.Page"
                          cs-paging-totalitems="@Model.TotalItem"
                          asp-basehref="~/news"
                          cs-pagenumber-param="page"></cs-pager>
            </div>
        </div>
        </section>
        </div>
